In [3]:
import pandas as pd

data = pd.read_csv('subject_ids.csv')
data

    subject_id
0       720803
1       720805
2       721818
3       722761
4       724030
5       725003
6       725005
7       726082
8       726083
9       727393
10      727395
11      727396
12      729539
13      730850
14      730852
15      730854
16      730856
17      732204
18      732212
19      732213
20      732216
21      732218
22      733513
23      733515
24      734982
25      736167

In [5]:
data['subject_id'].nunique()

26

In [6]:
# Let's verify the folder structure and count both total and unique subject IDs
import os
import re

# Get all folder names
folders = [f for f in os.listdir('barseq_metadata') if not f.startswith('.')]
print(f"Number of folders: {len(folders)}")
print("Folders:")
for folder in folders:
    print(f"  {folder}")

# Extract all subject IDs from folder names (after "TO_")
all_subject_ids = []
for folder in folders:
    # Extract the part after "TO_" and split by underscores
    if "_TO_" in folder:
        subjects_part = folder.split("_TO_")[1]
        subjects = subjects_part.split("_")
        all_subject_ids.extend(subjects)
        print(f"\n{folder}:")
        print(f"  Subjects: {subjects}")

print(f"\nTotal subject ID mentions: {len(all_subject_ids)}")
print(f"Unique subject IDs: {len(set(all_subject_ids))}")
print(f"Unique subjects: {sorted(set(all_subject_ids))}")

Number of folders: 8
Folders:
  20240417_TO_725003_725005_724030_727393
  20241204_TO_720803_730852_732212_732213
  20241106_TO_724030_725003_725005_727396
  20240626_TO_720805_726083_727395_730850
  20241030_TO_733513_733515_734982_736167
  20240814_TO_726082_729539_730854_730856
  20240410_TO_720803_720805_721818_722761
  20241023_TO_732204_732212_732216_732218

20240417_TO_725003_725005_724030_727393:
  Subjects: ['725003', '725005', '724030', '727393']

20241204_TO_720803_730852_732212_732213:
  Subjects: ['720803', '730852', '732212', '732213']

20241106_TO_724030_725003_725005_727396:
  Subjects: ['724030', '725003', '725005', '727396']

20240626_TO_720805_726083_727395_730850:
  Subjects: ['720805', '726083', '727395', '730850']

20241030_TO_733513_733515_734982_736167:
  Subjects: ['733513', '733515', '734982', '736167']

20240814_TO_726082_729539_730854_730856:
  Subjects: ['726082', '729539', '730854', '730856']

20240410_TO_720803_720805_721818_722761:
  Subjects: ['720803', '720805', '721818', '722761']

20241023_TO_732204_732212_732216_732218:
  Subjects: ['732204', '732212', '732216', '732218']

Total subject ID mentions: 32
Unique subject IDs: 26
Unique subjects: ['720803', '720805', '721818', '722761', '724030', '725003', '725005', '726082', '726083', '727393', '727395', '727396', '729539', '730850', '730852', '730854', '730856', '732204', '732212', '732213', '732216', '732218', '733513', '733515', '734982', '736167']

In [7]:
# Let's see which subject IDs appear in multiple folders
from collections import Counter

# Count how many times each subject ID appears
subject_counts = Counter(all_subject_ids)

print("Subject ID frequency across folders:")
for subject_id, count in sorted(subject_counts.items()):
    if count > 1:
        print(f"  {subject_id}: appears {count} times ⭐")
    else:
        print(f"  {subject_id}: appears {count} time")

# Show which specific folders each repeated subject appears in
print("\nRepeated subjects and their folders:")
repeated_subjects = [sid for sid, count in subject_counts.items() if count > 1]

for subject_id in sorted(repeated_subjects):
    folders_with_subject = []
    for folder in folders:
        if "_TO_" in folder:
            subjects_in_folder = folder.split("_TO_")[1].split("_")
            if subject_id in subjects_in_folder:
                folders_with_subject.append(folder)
    
    print(f"\n{subject_id} appears in:")
    for folder in folders_with_subject:
        print(f"  - {folder}")

print(f"\nSummary:")
print(f"Total subject mentions: {len(all_subject_ids)} (4 subjects × {len(folders)} folders)")
print(f"Unique subjects: {len(set(all_subject_ids))}")
print(f"Repeated subjects: {len(repeated_subjects)}")

Subject ID frequency across folders:
  720803: appears 2 times ⭐
  720805: appears 2 times ⭐
  721818: appears 1 time
  722761: appears 1 time
  724030: appears 2 times ⭐
  725003: appears 2 times ⭐
  725005: appears 2 times ⭐
  726082: appears 1 time
  726083: appears 1 time
  727393: appears 1 time
  727395: appears 1 time
  727396: appears 1 time
  729539: appears 1 time
  730850: appears 1 time
  730852: appears 1 time
  730854: appears 1 time
  730856: appears 1 time
  732204: appears 1 time
  732212: appears 2 times ⭐
  732213: appears 1 time
  732216: appears 1 time
  732218: appears 1 time
  733513: appears 1 time
  733515: appears 1 time
  734982: appears 1 time
  736167: appears 1 time

Repeated subjects and their folders:

720803 appears in:
  - 20241204_TO_720803_730852_732212_732213
  - 20240410_TO_720803_720805_721818_722761

720805 appears in:
  - 20240626_TO_720805_726083_727395_730850
  - 20240410_TO_720803_720805_721818_722761

724030 appears in:
  - 20240417_TO_725003_725005_724030_727393
  - 20241106_TO_724030_725003_725005_727396

725003 appears in:
  - 20240417_TO_725003_725005_724030_727393
  - 20241106_TO_724030_725003_725005_727396

725005 appears in:
  - 20240417_TO_725003_725005_724030_727393
  - 20241106_TO_724030_725003_725005_727396

732212 appears in:
  - 20241204_TO_720803_730852_732212_732213
  - 20241023_TO_732204_732212_732216_732218

Summary:
Total subject mentions: 32 (4 subjects × 8 folders)
Unique subjects: 26
Repeated subjects: 6